.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search .input {
  width: 100%;
}
.ui.search .prompt {
  border-radius: 0px;
}
.ui.input > input {
  border: 1.5px solid rgba(34, 36, 38, 0.15);
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}
